html {
    scroll-behavior: smooth;
}

body{
    margin: 0px;
}

#lamImage{
    top: 0;
    left: 0;
    height: 50%;
    width: 62%;
}

#descriptionContainer{
    top: 50%;
    height: 50%;
    width: 62%;
    background-color: #5D5D61;
    text-align: center;
}

#infoContainer{
    position: absolute;
    top: 0;
    left: 62%;
    height: 100%;
    width: 38%;
    background-color: #4D5243;
}

#webXRleft{
    position: absolute;
    background-color: #5D5D61;
    top: 300%;
    height: 100%;
    width: 62%;
}

#webXRRight{
    position: absolute;
    background-color: #4D5243;
    left: 62%;
    width: 38%;
    height: 100%;
    top: 300%;
}

#aboutLeft {
    position: absolute;
    background-color: rgb(77, 103, 82);
    height: 100%;
    width: 62%;
}

#aboutRight{
    position: absolute;
    background-color: rgb(64, 94, 57);
    left: 62%;
    width: 38%;
    height: 100%;
    top: 100%;
}

#quotesLeft{
    position: absolute;
    background-color: rgb(86, 86, 108);
    top: 200%;
    height: 100%;
    width: 62%;
}

#quotesRight {
    position: absolute;
    background-color: rgb(72, 76, 80);
    top: 200%;
    height: 100%;
    left: 62%;
    width: 38%;
}

#webXR{
    position: absolute;
    top: 300%;
    height: 100%;
    width: 100%;
}

#quotes{
    position: absolute;
    top: 200%;
    height: 100%;
    width: 100%;
}

#about{
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
}

#webXRContainer{
    width: 96%;
    height: 93%;
    background-color: black;

    position: absolute;
    top: 303.5%;
    bottom: 0;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;

    z-index: 2;
}

#lamLogo{
    display: block;
    margin-top: 16%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 0px;
}

#buttonsContainer{
    text-align: center;
}

#personalQuotes{
    margin-right: 20px;
}

#aboutUs{
    margin-left: 20px;
}

#personalQuotes, #aboutUs{
    display: inline-block;
    padding:1em 0.1em;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color: #9A9A9A;
    cursor: default;
    margin-top: 10%;
    min-width: 200px;
}

#personalQuotes:hover, #aboutUs:hover{
    border-color: rgba(255,255,255,1);
}

.webXRbutton{
    display: inline-block;
    padding:1.2em 2em;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color: #9A9A9A;
    cursor: default;
    margin-top: 10%;
}

.webXRbutton:hover {
    border-color: rgba(255,255,255,1);
}

#titleContainer p  {
    display: block;
    margin-top: 4%;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    font-size: 3.3vw;
    margin-bottom: 5%;
}

#titleContainer p span {
    background-color: #879174;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.textCenter{
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.6vw;
    text-align: center;
    color: white;
    margin: 0;
}

.text{
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.6vw;
    color: white;
    margin: 0;
}

.basicInfoText
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.2vw;
    color: white;
    margin: 0;
}

.mailtoText{
    text-decoration: none;
    color: lightblue;
}

#employeeContainer{
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#historyContainer {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#basicInfoContainer,
#generalDescription,
#descriptionLamContainer{
    margin-left: 5%;
    margin-right: 5%;
}

#descriptionLamContainer{
    margin-top: 10%;
}

.languageDropdown{
    cursor: default;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
}

.currentLanguage{
    background-color: #4CAF50;
    color: white;
    min-width: 153px;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.languageDropdownContent{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 185px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.languageDropdownContent div{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.currentLanguage p{
    display: inline-block;
}

.languageDropdownContent div p{
    display: inline-block;
}

.selectedLanguageDropdown{
    color: blue;
}

.languageDropdownContent div:hover {background: #ddd;}

.languageDropdownHover:hover .languageDropdownContent {display: block;}

.languageDropdownHover:hover .currentLanguage {background-color: #3e8e41;}

.languageFlag{
    width: 42px;
    vertical-align: middle;
    margin-right: 7px;
}

#lamKunstwerk{
    height: 51%;
    width: 70%;
    position: relative;
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

#starsImage {
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.reviewText{
    font-family: 'Poor Richard', sans-serif;
    font-size: 2.1vw;
    color: white;
    margin: 0;
}

#userReviewHeader {
    text-align: center;
    font-family: 'Poor Richard', sans-serif;
    font-size: 3.4vw;
    color: white;
    margin: 0;
}

#userReview1{
    margin-top: 5%;
    margin-left: 11%;
    width: 40%;
    height: 10%;
}

#userReview2{
    margin-top: 14%;
    margin-left: 55%;
    width: 40%;
    height: 10%;
}

#userReview3{
    margin-top: 9%;
    margin-left: 11%;
    width: 40%;
    height: 10%;
}

#userReviews{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}